{% extends 'base.html' %}
{% load static %}
{% load home_filters %}

{% block title %}
1IT
{% endblock %}

{% block content %} 
<!-- Gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<!-- Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


<div class="container main home">
    <section>
        <p class="section__heading">Услуги</p>
        <div class="home__services">
            <div class="tabs">
                {% for service in services %}
                    <div class="tab {% if forloop.counter == 1 %}active{% endif %}" onclick="changeTab({{ forloop.counter }})" data-tab-id="{{ forloop.counter }}">
                        <p class="tab-name">{{ service.name }}</p>
                        <p class="tab-number">0{{ forloop.counter }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="tabs-content">
                {% for service in services %}
                    <div class="tab-content {% if forloorp.counter == 1 %}active{% endif %}" data-tab-id="{{ forloop.counter }}" style="{% if forloop.counter == 1%}opacity: 1; transform: translateX(0);{% endif %}">
                        <div class="upper">
                            <div class="home__service-header">
                                <p class="home__service-heading">{{ service.heading|highlight_digits }}</p>
                                <p class="home__service-label">{{ service.label }}</p>
                            </div>
                            <div class="description">
                                {{ service.text|linebreaks }}
                            </div>
                            <div class="home__service-buttons">
                                <a href="#request-section" class="violet-button">Заказать услугу</a>
                                <button class="gray-button">Все услуги</button>
                            </div>
                        </div>
                        <div class="lower">
                            {% for service in services %}
                                <p class="{% if forloop.counter == 1 %}active{% endif %}" data-tab-id="{{ forloop.counter }}" onclick="changeTab('{{ forloop.counter }}')">0{{ forloop.counter }}</p>
                            {% endfor %}
                        </div>
                        {% if forloop.counter == 1 %}
                            <img class="image" src="{% static 'images/home-service-1.png' %}" alt="">
                        {% endif %}
                        {% if forloop.counter == 2 %}
                            <img class="image" src="{% static 'images/home-service-2.png' %}" alt="">
                        {% endif %}
                        {% if forloop.counter == 3 %}
                            <img class="image" src="{% static 'images/internet-shops.png' %}" alt="">
                        {% endif %}
                        {% if forloop.counter == 4 %}
                            <img class="image" src="{% static 'images/seo.png' %}" alt="">
                        {% endif %}
                        {% if forloop.counter == 5 %}
                            <img class="image" src="{% static 'images/context-ad.png' %}" alt="">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section class="slides">
        <div class="rounded-slides swiper">
            <img class="black-ellipsis" src="{% static 'images/black-ellipsis.svg' %}" alt="">
            <div class="rect-slides swiper-wrapper">
                <div class="rect-slide swiper-slide">
                    <p class="rect-slide-heading">Услуги</p>
                    <hr>
                    <p class="rect-slide-text">Мы предлагаем широкий спектр услуг, у нас вы найдете, подходящие решения</p>
                </div>
                <div class="rect-slide swiper-slide">
                    <p class="rect-slide-heading">Время</p>
                    <hr>
                    <p class="rect-slide-text">Позвоните нам и сэкономьте свое время, мы подберем для вас идеальное решение</p>
                </div>
                <div class="rect-slide swiper-slide">
                    <p class="rect-slide-heading">Помощь</p>
                    <hr>
                    <p class="rect-slide-text">Поможем избежать навязанных решений, с нами вы получите только то, что вам нужно</p>
                </div>
                <div class="rect-slide swiper-slide">
                    <p class="rect-slide-heading">Услуги</p>
                    <hr>
                    <p class="rect-slide-text">Мы предлагаем широкий спектр услуг, у нас вы найдете, подходящие решения</p>
                </div>
                <div class="rect-slide swiper-slide">
                    <p class="rect-slide-heading">Время</p>
                    <hr>
                    <p class="rect-slide-text">Позвоните нам и сэкономьте свое время, мы подберем для вас идеальное решение</p>
                </div>
                <div class="rect-slide swiper-slide">
                    <p class="rect-slide-heading">Помощь</p>
                    <hr>
                    <p class="rect-slide-text">Поможем избежать навязанных решений, с нами вы получите только то, что вам нужно</p>
                </div>
            </div>
            <img class="down-black-ellipsis" src="{% static 'images/down-black-ellipsis.svg' %}" alt="">
            <div class="swiper-button-prev">
                <img src="{% static 'images/left-black-arrow.svg' %}" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="{% static 'images/right-black-arrow.svg' %}" alt="">
            </div>
        </div>
        <div class="round-slider">
            <div class="round-slider__image-wrapper">
                <img class="round-slider__image" src="{% static 'images/services-round-slider.png' %}" alt="">
            </div>
            <div class="round-slider__request-button">
                <a href="#request-section" class="violet-button">
                    Оставить заявку
                </a>
            </div>
        </div>
    </section>

    <section>
        <p class="section__heading">Кейсы</p>
        <div class="cases">
            {% for case in cases %}
                <div class="case">
                    <img class="background" src="{{ case.photo.url }}" alt="">
                    <img class="logo" src="{{ case.logo.url }}" alt="">
                </div>
            {% endfor %}
        </div>
        <div class="all-cases">
            <button class="violet-button">Все кейсы</button>
        </div>
    </section>

    <section>
        <p class="section__heading">Клиенты</p>
        <div class="clients-description">
            <p>Компании абсолютно из разных сфер, которые доверили нам автоматизацию своего бизнеса и повысили конверсию клиентовмабсолютно из разных сфер</p>
        </div>
        <div class="clients-cards swiper">
            <div class="swiper-wrapper">
                {% for client in clients %}
                    <div class="client-card swiper-slide">
                        <img src="{{ client.logo.url }}" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="reviews__section">
        <p class="section__heading">Отзывы</p>
        <div class="reviews-platforms">
            <div class="review-platform">
                <img class="platform-logo" src="{% static 'images/2gis-icon.svg' %}" alt="">
                <div class="rating">
                    <p class="font-for-numbers">4.9</p>
                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                </div>
                <div class="divider"></div>
                <div class="reviews-count">
                    <p><span class="font-for-numbers">243</span> отзыва</p>
                </div>
            </div>
            <div class="review-platform">
                <img class="platform-logo" src="{% static 'images/vl-icon.svg' %}" alt="">
                <div class="rating">
                    <p class="font-for-numbers">4.9</p>
                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                </div>
                <div class="divider"></div>
                <div class="reviews-count">
                    <p><span class="font-for-numbers">243</span> отзыва</p>
                </div>
            </div>
            <div class="review-platform">
                <img class="platform-logo" src="{% static 'images/google-map-icon.png' %}" alt="">
                <div class="rating">
                    <p class="font-for-numbers">4.9</p>
                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                </div>
                <div class="divider"></div>
                <div class="reviews-count">
                    <p><span class="font-for-numbers">243</span> отзыва</p>
                </div>
            </div>
        </div>
        <div class="reviews swiper">
            <div class="swiper-wrapper">
                <div class="review swiper-slide">
                    <div class="review-header">
                        <div class="review-company">
                            <img class="review-company-logo" src="{% static 'images/review-logo-example.svg' %}" alt="">
                            <div class="review-company-info">
                                <p class="company-name">Школа дизайна</p>
                                <div class="company-stars">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <p class="review-date">21.03.2025</p>
                    </div>
                    <div class="review-text">
                        Мы обратились в "Первую IT компанию" для создания сайта нашей школы дизайна, и остались очень довольны результатом! Команда профессионалов внимательно выслушала наши идеи и предложила креативные решения.
                        Сайт получился стильным, удобным и адаптивным, что позволяет пользователям легко им пользоваться на любых устройствах. Быстрая загрузка страниц и хорошая SEO-оптимизация уже привели к увеличению заявок на курсы.
                        Рекомендуем "Первую IT компанию" как надежного партнера для разработки сайтов!
                    </div>
                </div>
                <div class="review swiper-slide">
                    <div class="review-header">
                        <div class="review-company">
                            <img class="review-company-logo" src="{% static 'images/review-logo-example.svg' %}" alt="">
                            <div class="review-company-info">
                                <p class="company-name">Школа дизайна</p>
                                <div class="company-stars">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <p class="review-date">21.03.2025</p>
                    </div>
                    <div class="review-text">
                        Мы обратились в "Первую IT компанию" для создания сайта нашей школы дизайна, и остались очень довольны результатом! Команда профессионалов внимательно выслушала наши идеи и предложила креативные решения.
                        Сайт получился стильным, удобным и адаптивным, что позволяет пользователям легко им пользоваться на любых устройствах. Быстрая загрузка страниц и хорошая SEO-оптимизация уже привели к увеличению заявок на курсы.
                        Рекомендуем "Первую IT компанию" как надежного партнера для разработки сайтов!
                    </div>
                </div>
                <div class="review swiper-slide">
                    <div class="review-header">
                        <div class="review-company">
                            <img class="review-company-logo" src="{% static 'images/review-logo-example.svg' %}" alt="">
                            <div class="review-company-info">
                                <p class="company-name">Школа дизайна</p>
                                <div class="company-stars">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <p class="review-date">21.03.2025</p>
                    </div>
                    <div class="review-text">
                        Мы обратились в "Первую IT компанию" для создания сайта нашей школы дизайна, и остались очень довольны результатом! Команда профессионалов внимательно выслушала наши идеи и предложила креативные решения.
                        Сайт получился стильным, удобным и адаптивным, что позволяет пользователям легко им пользоваться на любых устройствах. Быстрая загрузка страниц и хорошая SEO-оптимизация уже привели к увеличению заявок на курсы.
                        Рекомендуем "Первую IT компанию" как надежного партнера для разработки сайтов!
                    </div>
                </div>
                <div class="review swiper-slide">
                    <div class="review-header">
                        <div class="review-company">
                            <img class="review-company-logo" src="{% static 'images/review-logo-example.svg' %}" alt="">
                            <div class="review-company-info">
                                <p class="company-name">Школа дизайна</p>
                                <div class="company-stars">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                    <img src="{% static 'images/star-icon.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <p class="review-date">21.03.2025</p>
                    </div>
                    <div class="review-text">
                        Мы обратились в "Первую IT компанию" для создания сайта нашей школы дизайна, и остались очень довольны результатом! Команда профессионалов внимательно выслушала наши идеи и предложила креативные решения.
                        Сайт получился стильным, удобным и адаптивным, что позволяет пользователям легко им пользоваться на любых устройствах. Быстрая загрузка страниц и хорошая SEO-оптимизация уже привели к увеличению заявок на курсы.
                        Рекомендуем "Первую IT компанию" как надежного партнера для разработки сайтов!
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">
            <img src="{% static 'images/left-white-arrow.svg' %}" alt="">
        </div>
        <div class="swiper-button-next">
            <img src="{% static 'images/right-white-arrow.svg' %}" alt="">
        </div>
        <img class="background-label" src="{% static 'images/background-label.png' %}" alt="">
        <div class="swiper-pagination"></div>
    </section>

    <section class="about-section">
        <p class="section__heading">О компании</p>
        <div class="about__section">
            <div class="first-column">
                <p class="heading">первая IT компания</p>
                <div class="text">
                    Команда профессионалов, специализирующаяся на разработке инновационных программных решений для бизнеса. 
                    <br>
                    <br>
                    Наша цель — помочь вам оптимизировать процессы и достичь новых высот с помощью передовых технологий. Мы гордимся индивидуальным подходом к каждому клиенту и готовы предложить решения, соответствующие вашим уникальным потребностям. 
                </div>
            </div>
            <div class="second-column">
                <p class="heading">Мы в соцсетях</p>
                <div class="text">
                    Следите за нами, чтобы быть в курсе последних новостей, акций и интересных событий! 
                </div>
            </div>
        </div>
        <img class="orbit" src="{% static 'images/orbit.png' %}" alt="">
    </section>

    <section>
        <p class="section__heading">Наши сотрудники</p>
        <div class="workers-cards">
            {% for worker in workers %}
                <div class="worker-card">
                    <div class="image-wrapper">
                        <img src="{{ worker.photo.url }}" alt="">
                    </div>
                    <div class="worker-info">
                        <p class="worker-department">{{ worker.department }}</p>
                        <div class="worker-name-and-role">
                            <p class="worker-name">{{ worker.name }}</p>
                            <p class="worker-role">{{ worker.position }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <p class="section__heading">Технологии</p>
        <div class="technologies__section">
            <div class="technologies-list">
                {% for technology in technologies %}
                    <div class="technology-small-card {% if forloop.counter == 1 %}active{% endif %}">
                        <p class="technology-name {% if technology.is_highlighted %}violet{% endif %}">{{ technology.name|highlight_digits }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="technology-info">
                <div class="technology-name-heading">
                    {{ technologies.0.name|highlight_digits }}
                </div>
                <div class="technology-description">
                    {{ technologies.0.description|linebreaks|highlight_digits }}
                </div>
            </div>
        </div>
    </section>

    <section id="request-section">
        <div class="request__section">
            <div class="text-block">
                <div class="leave-request">
                    <p class="heading">Оставьте заявку</p>
                    <p class="text">Вы хотите стать нашим партнером или обсудить возможности совместной работы? Заполните форму ниже, и мы свяжемся с вами в кратчайшие сроки. Мы открыты для новых идей и готовы к сотрудничеству!</p>
                </div>
                <div class="contacts">
                    <div class="header">
                        <p class="heading">Контакты</p>
                        <div class="social-links">
                            <a href="{{ company_info.whatsapp }}">
                                <img src="{% static 'images/whatsapp.svg' %}" alt="">
                            </a>
                            <a href="{{ company_info.vk }}">
                                <img src="{% static 'images/vk-icon.svg' %}" alt="">
                            </a>
                            <a href="{{ company_info.telegram }}">
                                <img src="{% static 'images/telegram.svg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="contact-data">
                        <div class="column">
                            <img src="{% static 'images/address-icon.svg' %}" alt="">
                            <p>{{ company_info.address }}</p>
                        </div>
                        <div class="column">
                            <img src="{% static 'images/phone-icon.svg' %}" alt="">
                            <p>{{ company_info.phone }}</p>
                        </div>
                        <div class="column">
                            <img src="{% static 'images/dog.svg' %}" alt="">
                            <p>{{ company_info.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <form class="form-block" id="requestForm" method="POST">
                {% csrf_token %}
                <div class="two-columned-row">
                    {{ request_form.name }}
                    {{ request_form.phone }}
                </div>
                {{ request_form.message }}
                <div class="buttons-row">
                    <div class="checkbox">
                        <div class="checkbox-wrap">
                            <input checked type="checkbox" id="efficiency" name="efficiency" required>
                        </div>
                        <div>
                            <label for="efficiency" class="checkbox-label">
                                Согласие на обработку персональных данных
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="violet-button">Оставить заявку</button>
                </div>
            </form>
        </div>
    </section>
</div>


<!-- Услуги -->
<script defer>
    let activeIndex = 1;

    function changeTab(index) {
        console.log(index)
        if (index === activeIndex) return;

        const current = document.querySelector(`.home__services .tab-content[data-tab-id="${activeIndex}"]`);
        const next = document.querySelector(`.home__services .tab-content[data-tab-id="${index}"]`);

        console.log(current)
        console.log(next)
        
        if (!next) return;

        document.querySelectorAll('.home__services .tab').forEach(tab => 
            tab.classList.toggle('active', tab.dataset.tabId == index)
        );

        next.querySelectorAll(".home__services .lower p").forEach(p => 
            p.classList.toggle('active', p.dataset.tabId == index)
        );

        gsap.to(current, { 
            opacity: 0, 
            duration: 0.5,
            onComplete: () => {
                current.style.display = "none";
            }
        });

        next.style.display = "flex";
        gsap.fromTo(next, 
            { opacity: 0 }, 
            { 
                opacity: 1, 
                duration: 0.5
            }
        );

        activeIndex = index;
    }
</script>


<!-- Услуги, круговой слайдер -->
<script defer>
document.addEventListener("DOMContentLoaded", function () {
    let rotationAngle = 0; 
    let currentSlideIndex = 1;

    const mainSLider = new Swiper('.rounded-slides.swiper', {
        loop: true, 
        slidesPerView: 3,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        spaceBetween: 53, 
        mousewheel: {
            sensitivity: 1
        }, 
        coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 300,
            modifier: 1,
            slideShadows: true, 
        },
        on: {
            slideNextTransitionStart: function () {
                currentSlideIndex++;
                console.log(`Остаток: ${currentSlideIndex % 6}`)

                const angle = getRotationAngleNext();
                rotationAngle -= angle; 
                rotateImage();
            },
            slidePrevTransitionStart: function () {
                currentSlideIndex--;

                const angle = getRotationAnglePrev();
                rotationAngle += angle; 
                rotateImage();
            }
        }
    });

    function rotateImage() {
        const image = document.querySelector('.round-slider__image');
        if (image) {
            image.style.transform = `rotate(${rotationAngle}deg)`;
        }
    }
    function getRotationAnglePrev() {
        const currentSlide = document.querySelector('.rect-slide.swiper-slide.swiper-slide-active');
        const activeText = currentSlide.querySelector('.rect-slide-heading').textContent;
        let angle = 60;
        console.log(activeText)
        
        console.log(currentSlideIndex % 6)
        if (activeText == 'Время') {
            if (currentSlideIndex % 6 < 3) {
                angle = 68.5;
            } else {
                angle = 64.5;
            }
        } else if (activeText == 'Помощь') {
            angle = 56;
        } else if (activeText == 'Услуги') {
            angle = 57.6;
        }
        console.log(angle);
        return angle;
    }
    function getRotationAngleNext() {
        const currentSlide = document.querySelector('.rect-slide.swiper-slide.swiper-slide-next');
        const activeText = currentSlide.querySelector('.rect-slide-heading').textContent;
        let angle = 60;
        console.log(activeText)
        
        if (activeText == 'Время') {
            angle = 56;
        } else if (activeText == 'Помощь') {
            angle = 57.6;
        } else if (activeText == 'Услуги') {
            if (currentSlideIndex % 6 < 3) {
                angle = 64.5;
            } else {
                angle = 68.5;
            }
        }
        console.log(angle);
        return angle;
    }
});
</script>

<!-- Клиенты -->
<script defer>
    document.addEventListener('DOMContentLoaded', () => {
    const clientsSection = document.querySelector('.clients-cards');
    
    if (!clientsSection) return; 

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                const tl = gsap.timeline({
                    defaults: { ease: "power3.out" }
                });
                clientsSection.classList.add('active');
                tl.from('.clients-cards', {
                    x: '100vw',
                    duration: 1, 
                    opacity: 1,
                })

                observer.unobserve(entry.target);
                var swiper = new Swiper('.clients-cards', {
                    slidesPerView: 8,
                    spaceBetween: 30,
                    grid: {
                        rows: 2,
                    },
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: true,
                    },
                    });
            }
        });
    }, {
        threshold: 0.2, 
        rootMargin: '0px 0px -50px 0px' 
    });

    observer.observe(clientsSection);
});
</script>

<!-- Отзывы -->
<script defer>
    const reviews = new Swiper('.reviews.swiper', {
        slidesPerView: 1,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }, 
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
    console.log(reviews)
</script>

<!-- Технологии -->
<script defer>
document.addEventListener("DOMContentLoaded", () => {
    const techCards = document.querySelectorAll(".technology-small-card");
    const techNameHeading = document.querySelector(".technology-name-heading");
    const techDescription = document.querySelector(".technology-description");

    const techData = {
        {% for tech in technologies %}
            "{{ tech.name|escapejs }}": "{{ tech.description|escapejs }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    };

    techCards.forEach(card => {
        card.addEventListener("click", () => {
            const techName = card.querySelector(".technology-name").textContent.trim();

            techCards.forEach((card) => {
                card.classList.remove('active');
            });

            card.classList.add('active');

            if (techData[techName]) {
                gsap.to([techNameHeading, techDescription], {
                    opacity: 0,
                    duration: 0.3,
                    onComplete: () => {
                        techNameHeading.textContent = techName;
                        techDescription.textContent = techData[techName];
                        gsap.to([techNameHeading, techDescription], {
                            opacity: 1,
                            duration: 0.3
                        });
                    }
                });
            }
        });
    });
});

</script>


{% endblock %}