{% extends 'base.html' %}
{% load static %}
{% load home_filters %}

{% block title %}
1IT
{% endblock %}

{% block content %} 
<style>
    .preloader-heading.top.active {
        max-height: 132px;
    }
    .preloader-divider {
        top: 132px;
    }
    .preloader-heading {
        line-height: 236px;;
    }
    .preloader-heading.bottom.active {
        max-height: 104px;
    }
    .preloader-bottom-divider {
        transform: translateY(-104px);
    }


    @media (max-width: 990px) {
        .cases {
            flex-direction: column;
        }
    }


</style>

<div class="container main home">
    <section>
        <div class="categories-panel only-more-than-990">
            <p class="category-name active">Все</p>
            {% for category in case_categories %}
                <p class="category-name">{{ category.name }}</p>
                {% if not forloop.last %}
                    <div class="divider"></div>                          
                {% endif %}
            {% endfor %}
        </div>
        <div class="categories-panel only-less-than-990 flex">
          <div class="label">
            ВЫБРАТЬ СФЕРУ
          </div>
          <div class="divider">

          </div>
          <div class="sphere">
            Все
          </div>
        </div>
        <div class="cases">
            {% for case in cases %}
                <a class="case" href="{{ case.get_absolute_url }}">
                    <img class="background" src="{{ case.photo.url }}" alt="">
                    <img class="logo" src="{{ case.logo.url }}" alt="">
                </a>
                <a class="case" href="{{ case.get_absolute_url }}">
                  <img class="background" src="{{ case.photo.url }}" alt="">
                  <img class="logo" src="{{ case.logo.url }}" alt="">
              </a>
              <a class="case" href="{{ case.get_absolute_url }}">
                <img class="background" src="{{ case.photo.url }}" alt="">
                <img class="logo" src="{{ case.logo.url }}" alt="">
            </a>
            {% endfor %}
        </div>
        <div class="all-cases">
            <button class="violet-button">Показать ещё</button>
        </div>
    </section>

    {% include 'home/includes/request_block.html' %}
</div>

{% endblock %}