{% extends 'base_without_animation.html' %}
{% load static %}
{% load home_filters %}

{% block title %}
{{ case.name }}
{% endblock %}

{% block content %}
<div class="container main home x-container">
    <section>
        <div class="case-screenshots">
            <div class="heading">
                <h1>{{ case.name }}</h1>
            </div>
            <div class="case-screenshots-container">
                <img class="mobile-screenshot only-more-than-990" src="{{ case.mobile_screenshot.url }}" alt="">
                <img class="desktop-screenshot" src="{{ case.desktop_screenshot.url }}" alt="">
            </div>
        </div>
    </section>

    <section class="case__client-info">
        <p class="section__heading">Информация о клиенте</p>
        <div class="big-gray-card card">
            <img src="{{ case.logo.url }}" alt="">
            <div class="description">
                {{ case.description|linebreaks }}
            </div>
        </div>
    </section>

    <section class="goals-and-tasks">
        <p class="section__heading">Цели и задачи</p>
        <div class="goal">
            <div class="left-column">
                <p class="heading">Цель</p>
                <div class="text">{{ case.goal|linebreaks }}</div>
            </div>
            <img src="{{ case.goal_screenshot.url }}" alt="">
        </div>
        <div class="tasks">
            <img src="{{ case.tasks_screenshot.url }}" alt="">
            <div class="right-column">
                <p class="heading">Задачи</p>
                <div class="text">
                    {{ case.tasks|linebreaks }}
                </div>
            </div>
        </div>
        <div class="solution">
            <div class="left-column">
                <p class="heading">Решение</p>
                <div class="text">
                    {{ case.solution|linebreaks }}
                </div>
            </div>
            <img src="{{ case.solution_screenshot.url }}" alt="">
        </div>
    </section>

    <section class="result-section big-gray-card">
        <p class="section__heading">Результаты</p>
        <div class="body">
            <div class="left-column">
                <div class="stats">
                    {% for metric in case.metrics.all %}
                        <div class="stat">
                            <p class="heading">{{ metric.number }}</p>
                            <p class="label">{{ metric.label }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="buttons">
                    <a href="{{ case.link }}" class="violet-button">Перейти на сайт</a>
                    <button class="gray-button">Хочу такой же</button>
                </div>
            </div>
            <img src="{{ case.result_screenshot.url }}" alt="">
        </div>
    </section>
</div>

{% endblock %}