{% extends 'base.html' %}
{% load static %}
{% load home_filters %}

{% block title %}
1IT
{% endblock %}

{% block content %} 
<style>
@media (min-width: 991px) {
    .preloader-heading.top.active {
        max-height: 132px;
    }
    .preloader-divider {
        top: 132px;
    }
    .preloader-heading {
        line-height: 236px;
    }
    .preloader-heading.bottom.active {
        max-height: 104px;
    }
    .preloader-bottom-divider {
        transform: translateY(-104px);
    }
    .footer-left-gradient {
        bottom: 33px;
    }
    .footer-right-gradient {
        bottom: 32px;
    }
}

    @media (max-width: 990px) {
        .cases {
            flex-direction: column;
        }
    }
</style>

<div class="container main home">
    <section class="x-container">
        <div class="categories-panel only-more-than-990">
            <a href="{% url 'cases:cases' %}" class="category-name {% if not category %} active {% endif %}">Все</a>
            <div class="divider"></div>           
            {% for c in case_categories %}
                <a href="{% url 'cases:cases' %}?category={{ c.pk }}" class="category-name {% if c.pk == category %} active {% endif %}">{{ c.name }}</a>
                {% if not forloop.last %}
                    <div class="divider"></div>                          
                {% endif %}
            {% endfor %}
        </div>
        <div class="categories-panel only-less-than-990 flex">
          <div class="label">
            ВЫБРАТЬ СФЕРУ
          </div>
          <div class="divider">

          </div>
          <div id="categoryButton" class="sphere">
            Все
          </div>
        </div>
        <div class="categories-dropdown">
            <div class="categories-dropdown-inner">
                {% for c in case_categories %}
                    <a href="{% url 'cases:cases' %}?category={{ c.pk }}">{{ c.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="cases cases-page">
            {% for case in cases %}
                <a class="case" href="{{ case.get_absolute_url }}">
                    <img class="background" src="{{ case.photo.url }}" alt="">
                    <img class="logo" src="{{ case.logo.url }}" alt="">
                </a>
            {% endfor %}
        </div>
        <div class="all-cases">
            <button class="violet-button">Показать ещё</button>
        </div>
    </section>

    {% include 'home/includes/request_block.html' %}
</div>

{% endblock %}

{% block script %}
<script defer>
    const categoryButton = document.querySelector('#categoryButton');
    const categoriesDropdown = document.querySelector('.categories-dropdown');

    categoryButton.addEventListener('click', (element) => {
        categoriesDropdown.classList.toggle('active');
    });
</script>
{% endblock %}