{% extends 'base.html' %}
{% load static %}
{% load home_filters %}

{% block title %}
1IT
{% endblock %}

{% block content %} 
<!-- Gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<!-- Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<div class="container main about">
    <section class="company-stats">
        <div class="company-stats-wrapper">
            {% for stat in company_stats %}
                <div class="company-stat">
                    <p class="heading"><span>{{ stat.heading|highlight_digits }}</span><span class="heading-label">{{ stat.heading_label }}</span></p>
                    <p class="lower-label">{{ stat.lower_label }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    {% include 'home/includes/company_block.html' %}

    {% include 'home/includes/workers_block.html' %}

    {% include 'home/includes/technologies_block.html' %}

    {% include 'home/includes/request_block.html' %}
</div>


<!-- Услуги -->
<script defer>
    let activeIndex = 1;

    function changeTab(index) {
        console.log(index)
        if (index === activeIndex) return;

        const current = document.querySelector(`.home__services .tab-content[data-tab-id="${activeIndex}"]`);
        const next = document.querySelector(`.home__services .tab-content[data-tab-id="${index}"]`);

        console.log(current)
        console.log(next)
        
        if (!next) return;

        document.querySelectorAll('.home__services .tab').forEach(tab => 
            tab.classList.toggle('active', tab.dataset.tabId == index)
        );

        next.querySelectorAll(".home__services .lower p").forEach(p => 
            p.classList.toggle('active', p.dataset.tabId == index)
        );

        gsap.to(current, { 
            opacity: 0, 
            duration: 0.5,
            onComplete: () => {
                current.style.display = "none";
            }
        });

        next.style.display = "flex";
        gsap.fromTo(next, 
            { opacity: 0 }, 
            { 
                opacity: 1, 
                duration: 0.5
            }
        );

        activeIndex = index;
    }
</script>


<!-- Услуги, круговой слайдер -->
<script defer>
document.addEventListener("DOMContentLoaded", function () {
    let rotationAngle = 0; 
    let currentSlideIndex = 1;

    const mainSLider = new Swiper('.rounded-slides.swiper', {
        loop: true, 
        slidesPerView: 3,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        spaceBetween: 53, 
        mousewheel: {
            sensitivity: 1
        }, 
        coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 300,
            modifier: 1,
            slideShadows: true, 
        },
        on: {
            slideNextTransitionStart: function () {
                currentSlideIndex++;
                console.log(`Остаток: ${currentSlideIndex % 6}`)

                const angle = getRotationAngleNext();
                rotationAngle -= angle; 
                rotateImage();
            },
            slidePrevTransitionStart: function () {
                currentSlideIndex--;

                const angle = getRotationAnglePrev();
                rotationAngle += angle; 
                rotateImage();
            }
        }
    });

    function rotateImage() {
        const image = document.querySelector('.round-slider__image');
        if (image) {
            image.style.transform = `rotate(${rotationAngle}deg)`;
        }
    }
    function getRotationAnglePrev() {
        const currentSlide = document.querySelector('.rect-slide.swiper-slide.swiper-slide-active');
        const activeText = currentSlide.querySelector('.rect-slide-heading').textContent;
        let angle = 60;
        console.log(activeText)
        
        console.log(currentSlideIndex % 6)
        if (activeText == 'Время') {
            if (currentSlideIndex % 6 < 3) {
                angle = 68.5;
            } else {
                angle = 64.5;
            }
        } else if (activeText == 'Помощь') {
            angle = 56;
        } else if (activeText == 'Услуги') {
            angle = 57.6;
        }
        console.log(angle);
        return angle;
    }
    function getRotationAngleNext() {
        const currentSlide = document.querySelector('.rect-slide.swiper-slide.swiper-slide-next');
        const activeText = currentSlide.querySelector('.rect-slide-heading').textContent;
        let angle = 60;
        console.log(activeText)
        
        if (activeText == 'Время') {
            angle = 56;
        } else if (activeText == 'Помощь') {
            angle = 57.6;
        } else if (activeText == 'Услуги') {
            if (currentSlideIndex % 6 < 3) {
                angle = 64.5;
            } else {
                angle = 68.5;
            }
        }
        console.log(angle);
        return angle;
    }
});
</script>

<!-- Клиенты -->
<script defer>
    document.addEventListener('DOMContentLoaded', () => {
    const clientsSection = document.querySelector('.clients-cards');
    
    if (!clientsSection) return; 

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                const tl = gsap.timeline({
                    defaults: { ease: "power3.out" }
                });
                clientsSection.classList.add('active');
                tl.from('.clients-cards', {
                    x: '100vw',
                    duration: 1, 
                    opacity: 1,
                })

                observer.unobserve(entry.target);
                var swiper = new Swiper('.clients-cards', {
                    slidesPerView: 8,
                    spaceBetween: 30,
                    grid: {
                        rows: 2,
                    },
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: true,
                    },
                    });
            }
        });
    }, {
        threshold: 0.2, 
        rootMargin: '0px 0px -50px 0px' 
    });

    observer.observe(clientsSection);
});
</script>

<!-- Отзывы -->
<script defer>
    const reviews = new Swiper('.reviews.swiper', {
        slidesPerView: 1,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }, 
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
    console.log(reviews)
</script>

<!-- Технологии -->
<script defer>
document.addEventListener("DOMContentLoaded", () => {
    const techCards = document.querySelectorAll(".technology-small-card");
    const techNameHeading = document.querySelector(".technology-name-heading");
    const techDescription = document.querySelector(".technology-description");

    const techData = {
        {% for tech in technologies %}
            "{{ tech.name|escapejs }}": "{{ tech.description|escapejs }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    };

    techCards.forEach(card => {
        card.addEventListener("click", () => {
            const techName = card.querySelector(".technology-name").textContent.trim();

            techCards.forEach((card) => {
                card.classList.remove('active');
            });

            card.classList.add('active');

            if (techData[techName]) {
                gsap.to([techNameHeading, techDescription], {
                    opacity: 0,
                    duration: 0.3,
                    onComplete: () => {
                        techNameHeading.textContent = techName;
                        techDescription.textContent = techData[techName];
                        gsap.to([techNameHeading, techDescription], {
                            opacity: 1,
                            duration: 0.3
                        });
                    }
                });
            }
        });
    });
});

</script>


{% endblock %}