{% load static %}

<section class="about-section">
    {% if is_home_page %}
        <p class="section__heading x-container">О компании</p>

        <div>
            <div class="reviews-platforms">
                <div class="review-platform">
                    <img class="platform-logo" src="{% static 'images/2gis-icon.svg' %}" alt="">
                    <div class="rating">
                        <p class="font-for-numbers">4.9</p>
                        <img src="{% static 'images/star-icon.svg' %}" alt="">
                    </div>
                    <div class="divider"></div>
                    <div class="reviews-count">
                        <p><span class="font-for-numbers">243</span> отзыва</p>
                    </div>
                </div>
                <div class="review-platform">
                    <img class="platform-logo" src="{% static 'images/vl-icon.svg' %}" alt="">
                    <div class="rating">
                        <p class="font-for-numbers">4.9</p>
                        <img src="{% static 'images/star-icon.svg' %}" alt="">
                    </div>
                    <div class="divider"></div>
                    <div class="reviews-count">
                        <p><span class="font-for-numbers">243</span> отзыва</p>
                    </div>
                </div>
                <div class="review-platform">
                    <img class="platform-logo" src="{% static 'images/google-map-icon.png' %}" alt="">
                    <div class="rating">
                        <p class="font-for-numbers">4.9</p>
                        <img src="{% static 'images/star-icon.svg' %}" alt="">
                    </div>
                    <div class="divider"></div>
                    <div class="reviews-count">
                        <p><span class="font-for-numbers">243</span> отзыва</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="about__section x-container">

        <div class="logo-container only-less-than-990 flex">
            <img class="logo" src="{% static 'images/logo.svg' %}" alt="">
        </div>

        <div class="glowing-circle glowing-circle-1">
            <a target="_blank" href="{{ company_info.whatsapp }}">
                <img src="{% static 'images/whatsapp-logo.svg' %}" alt="">
            </a>
        </div>
        <div class="glowing-circle glowing-circle-2">
            <a target="_blank" href="{{ company_info.vk }}">
                <img src="{% static 'images/vk-logo.svg' %}" alt="">
            </a>
        </div>
        <div class="glowing-circle glowing-circle-3">
            <a target="_blank" href="{{ company_info.telegram }}">
                <img src="{% static 'images/telegram-logo.svg' %}" alt="">
            </a>
        </div>
        <div class="glowing-circle glowing-circle-4">
            <a target="_blank" href="{{ company_info.github }}">
                <img src="{% static 'images/github-logo.svg' %}" alt="">
            </a>
        </div>

        <div class="first-column">
            <p class="heading">первая IT компания</p>
            <div class="text">
                Команда профессионалов, специализирующаяся на разработке инновационных программных решений для бизнеса. 
                <br>
                <br>
                Наша цель — помочь вам оптимизировать процессы и достичь новых высот с помощью передовых технологий. Мы гордимся индивидуальным подходом к каждому клиенту и готовы предложить решения, соответствующие вашим уникальным потребностям. 
            </div>
        </div>
        <div class="second-column">
            <p class="heading">Мы в соцсетях</p>
            <div class="text">
                Следите за нами, чтобы быть в курсе последних новостей, акций и интересных событий! 
            </div>
            <div class="social-media-container only-less-than-990 flex">
                <div class="social-media">
                    <a target="_blank" href="{{ company_info.github }}" class="glowing-circle">
                        <img class="circle" src="{% static 'images/violet-circle.svg' %}" alt="">
                        <img class="mobile-logo" src="{% static 'images/github-logo.svg' %}" alt="">
                    </a>
                    <a target="_blank" href="{{ company_info.vk }}" class="glowing-circle">
                        <img class="circle" src="{% static 'images/violet-circle.svg' %}" alt="">
                        <img class="mobile-logo" src="{% static 'images/vk-logo.svg' %}" alt="">
                    </a>
                    <a target="_blank" href="{{ company_info.telegram }}" class="glowing-circle">
                        <img class="circle" src="{% static 'images/violet-circle.svg' %}" alt="">
                        <img class="mobile-logo" src="{% static 'images/telegram-logo.svg' %}" alt="">
                    </a>
                    <a target="_blank" href="{{ company_info.whatsapp }}" class="glowing-circle">
                        <img class="circle" src="{% static 'images/violet-circle.svg' %}" alt="">
                        <img class="mobile-logo" src="{% static 'images/whatsapp-logo.svg' %}" alt="">
                    </a>
                </div>
            </div>
            <img class="orbit-mobile only-less-than-990" src="{% static 'images/orbit-mobile.png' %}" alt="">
        </div>
    </div>
    <img class="orbit only-more-than-990" src="{% static 'images/orbit-2.png' %}" alt="">
</section>