{% load static %}

<section class="about-section">
    {% if is_home_page %}
        <p class="section__heading">О компании</p>
    {% endif %}
    <div class="about__section">

        <div class="logo-container only-less-than-990 flex">
            <img class="logo" src="{% static 'images/logo.svg' %}" alt="">
        </div>

        <div class="glowing-circle glowing-circle-1">
            <a href="{{ company_info.behance }}">
                <img src="{% static 'images/behance-logo.svg' %}" alt="">
            </a>
        </div>
        <div class="glowing-circle glowing-circle-2">
            <a href="{{ company_info.vk }}">
                <img src="{% static 'images/vk-logo.svg' %}" alt="">
            </a>
        </div>
        <div class="glowing-circle glowing-circle-3">
            <a href="{{ company_info.telegram }}">
                <img src="{% static 'images/telegram-logo.svg' %}" alt="">
            </a>
        </div>
        <div class="glowing-circle glowing-circle-4">
            <a href="{{ company_info.github }}">
                <img src="{% static 'images/github-logo.svg' %}" alt="">
            </a>
        </div>

        <div class="first-column">
            <p class="heading">первая IT компания</p>
            <div class="text">
                Команда профессионалов, специализирующаяся на разработке инновационных программных решений для бизнеса. 
                <br>
                <br>
                Наша цель — помочь вам оптимизировать процессы и достичь новых высот с помощью передовых технологий. Мы гордимся индивидуальным подходом к каждому клиенту и готовы предложить решения, соответствующие вашим уникальным потребностям. 
            </div>
        </div>
        <div class="second-column">
            <p class="heading">Мы в соцсетях</p>
            <div class="text">
                Следите за нами, чтобы быть в курсе последних новостей, акций и интересных событий! 
            </div>
            <div class="social-media-container only-less-than-990 flex">
                <div class="social-media">
                    <div class="">
                        <img class="circle" src="{% static 'images/violet-circle.svg' %}" alt="">
                        <img class="mobile-logo" src="{% static 'images/github-logo.svg' %}" alt="">
                    </div>
                    <div class="">
                        <img class="circle" src="{% static 'images/violet-circle.svg' %}" alt="">
                        <img class="mobile-logo" src="{% static 'images/vk-logo.svg' %}" alt="">
                    </div>
                    <div class="">
                        <img class="circle" src="{% static 'images/violet-circle.svg' %}" alt="">
                        <img class="mobile-logo" src="{% static 'images/telegram-logo.svg' %}" alt="">
                    </div>
                    <div class="">
                        <img class="circle" src="{% static 'images/violet-circle.svg' %}" alt="">
                        <img class="mobile-logo" src="{% static 'images/behance-logo.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <img class="orbit-mobile only-less-than-990" src="{% static 'images/orbit-mobile.png' %}" alt="">
        </div>
    </div>
    <img class="orbit only-more-than-990" src="{% static 'images/orbit-2.png' %}" alt="">
</section>