{% load static %}

<section id="request-section" class="x-container">
    <div class="request__section">
        <div class="text-block">
            <div class="leave-request">
                <p class="heading">Оставьте заявку</p>
                <p class="text">Вы хотите стать нашим партнером или обсудить возможности совместной работы? Заполните форму ниже, и мы свяжемся с вами в кратчайшие сроки. Мы открыты для новых идей и готовы к сотрудничеству!</p>
            </div>
            <div class="contacts">
                <div class="header">
                    <p class="heading">Контакты</p>
                    <div class="social-links">
                        <a target="_blank" href="{{ company_info.whatsapp }}">
                            <img src="{% static 'images/whatsapp.svg' %}" alt="">
                        </a>
                        <a target="_blank" href="{{ company_info.vk }}">
                            <img src="{% static 'images/vk-icon.svg' %}" alt="">
                        </a>
                        <a target="_blank" href="{{ company_info.telegram }}">
                            <img src="{% static 'images/telegram.svg' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="contact-data">
                    <div class="column">
                        <img src="{% static 'images/address-icon.svg' %}" alt="">
                        <a>{{ company_info.address }}</a>
                    </div>
                    <div class="column">
                        <img src="{% static 'images/phone-icon.svg' %}" alt="">
                        <a target="_blank" href="tel:{{ company_info.email }}">{{ company_info.phone }}</a>
                    </div>
                    <div class="column">
                        <img src="{% static 'images/dog.svg' %}" alt="">
                        <a target="_blank" href="mailto:{{ company_info.email }}">{{ company_info.email }}</a>
                    </div>
                </div>
            </div>
            <div class="only-less-than-990 divider"></div>
        </div>
        <form class="form-block" id="requestForm" method="POST">
            {% csrf_token %}
            <div class="two-columned-row">
                {{ request_form.name }}
                {{ request_form.phone }}
            </div>
            {{ request_form.message }}
            <div class="buttons-row">
                <div class="checkbox">
                    <div class="checkbox-wrap">
                        <input checked type="checkbox" id="efficiency" name="efficiency" required>
                    </div>
                    <div>
                        <label for="efficiency" class="checkbox-label">
                            Согласие на обработку персональных данных
                        </label>
                    </div>
                </div>
                <button type="submit" class="violet-button">Оставить заявку</button>
            </div>
        </form>
    </div>
</section>