{% extends 'base.html' %}
{% load static %}
{% load home_filters %}

{% block title %}
1IT
{% endblock %}

{% block head %}
<!-- Gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<!-- Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<!-- Lenis -->
<!-- <script src="https://unpkg.com/lenis@1.2.3/dist/lenis.min.js"></script>  -->



<!-- <script src="https://cdn.jsdelivr.net/npm/lenis@1.0.45/dist/lenis.min.js"></script> -->
<!-- <script src="https://unpkg.com/imagesloaded@5.0.0/imagesloaded.pkgd.min.js"></script> -->



<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<!-- JS -->
<script defer src="{% static 'js/services.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container main home">
    <section class="services-section">
      <div class="heading-wrapper">
        <p class="section__heading">Услуги</p>
      </div>
        <div class="fixed-menu">
          {% for service in services %}
              <div class="tab {% if forloop.counter == 1 %}active{% endif %}" onclick="changeTab({{ forloop.counter }})" data-tab-id="{{ forloop.counter }}">
                  <p class="tab-name">{{ service.name }}</p>
                  <p class="tab-number">0{{ forloop.counter }}</p>
              </div>
          {% endfor %}
        </div>
        <div class="services-sticky-container wrap">
            {% for service in services %}
              <div class="content content--sticky card" data-tab-id="{{ forloop.counter }}">
                <div class="card-inner">
                  <div class="heading-container">
                    <p class="heading">{{ service.name }}</p>
                    <p class="font-for-numbers">0{{ forloop.counter }}</p>
                  </div>
                  <p class="text">
                    Разрабатывает индивидуальные решения, адаптированные под ваши потребности, что позволяет автоматизировать процессы продаж и улучшить обслуживание. 
                  </p>
                  <button class="violet-button">Заказать</button>
                  <div class="contacts">
                    <p class="phone">{{ company_info.phone }}</p>
                    <img src="{% static 'images/whatsapp.svg' %}" alt="">
                    <img src="{% static 'images/telegram.svg' %}" alt="">
                  </div>
                  {% if forloop.counter == 1 %}
                      <img class="card-image" src="{% static 'images/new-service-1.png' %}" alt="">
                  {% endif %}
                  {% if forloop.counter == 2 %}
                      <img class="card-image" src="{% static 'images/new-service-2.png' %}" alt="">
                  {% endif %}
                  {% if forloop.counter == 3 %}
                      <img class="card-image" src="{% static 'images/new-service-3.png' %}" alt="">
                  {% endif %}
                  {% if forloop.counter == 4 %}
                      <img class="card-image seo-optimization" src="{% static 'images/new-service-4.png' %}" alt="">
                  {% endif %}
                  {% if forloop.counter == 5 %}
                      <img class="card-image" src="{% static 'images/new-service-5.png' %}" alt="">
                  {% endif %}
                </div>
              </div>
            {% endfor %}
            <div class="services-spacer"></div>
        </div>
    </section>
    {% include 'home/includes/request_block.html' %}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/imagesloaded/5.0.0/imagesloaded.pkgd.min.js"></script>

{% endblock %}